@import "tailwindcss";


html, body, main {
  margin: 0;
  height: 100dvh;
  width:100%;
  font-family:'Noto Sans', sans-serif;
}

h2{
  font-weight:700;
  line-height: 1.2;
}

/* Contenedor principal con scroll vertical */
.snap-container {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* Activamos scroll-snap vertical */
}

/* Cada sección ocupa toda la pantalla y se "engancha" */
section {
  height: 100%;
  scroll-snap-align: start; /* Empieza en cada sección */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  overflow:hidden;
  scroll-behavior: smooth;
}

.content-info-wrapper p.technologies{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  gap:15px;
  padding:5px;
  font-weight:700;
}
.content-info-wrapper p.technologies svg{
  width:30px;
  height:auto;
}
.content-info-wrapper p.technologies img{
  width:30px;
  height:auto;
  display:inline;
}

.swiper_parent .img_wrapper {
  position:relative;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
  transform-style: preserve-3d;
  perspective-origin: 50% 0%;
}

.swiper_parent .container {
  display:block;
  position: absolute;
  left:50%;
  margin:auto;
  width: 80%;
  height: 100%;

  transform: rotateX(61deg) scale3d(0.86, 0.8, 0.5) skew(-15deg, 15deg) translate(-50%, 0%);
  transition:transform 0.8s ease-in-out, width 0.8s ease-in-out;
  
  animation-delay: 0s;

}

.transform-container {
  transform: rotateX(61deg) scale3d(0.86, 0.8, 0.5) skew(-15deg, 15deg);
  position: relative;
  width: 100%;
  height: 100%;
  /* NO overflow aquí */
}

.scroll-wrapper {
  height: 100%;
  overflow-y: auto;             /* scroll nativo */
  overscroll-behavior: contain; /* evita que el scroll suba al padre */
}


.animate-slideUp{  animation: animacion1 1.5s ease-out forwards; }

.swiper_parent .img_wrapper img{
  height:auto;
  width:100%;
}

.swiper_parent:hover .container{

  transform: rotateY(-15deg) skewX(-1deg) translate(-50%, 0%);
}

@keyframes animacion1 {
    0% {
        opacity: 0;
        bottom:100%;
    }
    50% {
        opacity: 1;
        bottom:0;
    }
    100% {
        opacity: 1;
        bottom:0;
    }
}

@media screen and (max-width: 1024px) {
  .swiper_parent .container {
    width: 90%;
    height:50vh;
    transform: rotateX(-5deg) rotateY(-31deg) skewX(-1deg) translate(-54%, 19%);
    
    transform-origin: 50% 100%;
  }
  .swiper_parent:hover .container{

    transform: rotateX(-5deg) rotateY(-10deg) skewX(0) translate(-50%, 8%);
  }
}

.swiper-container .content-info-wrapper{
  z-index: 9;
}

.swiper-container .content-info-wrapper:not(:first-child):after{
  content:"";
  position:absolute;
  left:100%;
  width:250px;
  height:100%;
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
}


.draggable-image {
  cursor: grab;
  user-select: none;
  display: block;
}

