---
import IconsData from '../data/icons.json';
---

<section id="yo" class="bg-black swiper-slide" style="background-image: url('imgs/websites/yo/yo3.jpg'); background-size: cover; background-position: center;">
    <div class="content flex flex-col lg:flex-row gap-4 items-center p-6 lg:px-8 swipere-slide">
        <div class="flex flex-col gap-5 p-4 lg:w-[35%] w-[100%] lg:order-1 order-2 align-items-left justify-center lg:justify-center justify-end h-[100vh] content-info-wrapper relative">
            <h2 class="lg:text-[52px] text-[32px]">Daniel Pérez</h2>
            <p class="description lg:text-[18px] text-[16px]">Mi nombre es Daniel Pérez, soy desarrollador web hace más de 10 años.
                He trabajado en una variedad de proyectos, con diferentes tecnologías y enfoques, desde sitios web corporativos hasta aplicaciones web con necesidades más complejas.
                Mi enfoque es crear soluciones personalizadas que se adapten a las necesidades de mis clientes.</p>
            <p class="technologies flex-wrap">
                {
                    ["php", "python", "wordpress", "elementor", "woocommerce", "prestashop", "drupal", "django", "symfony", "laravel", "angular", "vue", "astro"].map((tech) => {
                        return (
                        IconsData.map((icon) => {
                            if (icon.name === tech) {
                                return <span set:html={icon.svg} />;
                            }
                        })
                    );
                    })
                }
            </p>
        </div>
    </div>
</section>	