---
export interface Props {
    url: string
}

const { url } = Astro.props;
---

<div class="container swiper-no-swiping" style="position:absolute;">
    <img src={`imgs/websites${url}`} class="swiper-image draggable-image" alt="Titulo de la imagen" />
</div>

