<div class="block fixed bottom-0 right-[0] z-999">
    <a href="imgs/CV_Daniel_Perez_ES.pdf" download="CV_Daniel_Perez_ES.pdf"
    class="group relative flex items-center bg-white dark:bg-gray-900 dark:text-white gap-2 p-3 text-black transition hover:bg-green-400 shadow-md hover:shadow-lg hover:shadow-[0_0_20px_4px_rgba(74,222,128,0.8)]">
        
        <span class="absolute right-full mr-2 opacity-0 
               group-hover:opacity-100 
               -translate-x-2 group-hover:translate-x-0 
               transition">
            Curriculum
        </span>
        
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Descargar">
            <path d="M12 3v12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.5 10.5L12 15l4.5-4.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4 19.5h16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

    </a>
</div>
