<div class="block fixed bottom-0 right-[15px] z-999">
    <a href="imgs/CV_Daniel_Perez_ES.pdf" download="CV_Daniel_Perez_ES.pdf"
    class="group relative flex items-center bg-white dark:bg-gray-900 dark:text-white gap-2 p-3 text-black rounded-xl transition rounded hover:bg-green-400 shadow-md hover:shadow-lg hover:shadow-[0_0_20px_4px_rgba(74,222,128,0.8)]">
        <!-- Texto oculto que aparece al hover -->
        <span class="absolute right-full mr-2 opacity-0 
               group-hover:opacity-100 
               -translate-x-2 group-hover:translate-x-0 
               transition">
            Curriculum
        </span>
        <!-- Ãcono de libro -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 6v12m-6-6h12" />
        </svg>
    </a>
</div>
